@import '@styles/mixins.scss';

.logo {
  width: 100%;
  display: flex;
  gap: var(--spacing-md);

  .text {
    @include text-gradient(var(--text-gradient));
    font-size: var(--font-size-xl);
    font-weight: 600;
  }
}
