.dateInputWrapper {
  .label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .dateInput {
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    border: 2px solid var(--stroke-color);
    outline: none;
    color: var(--text-color-secondary);

    background-color: transparent;
  }
}
