.lastUpdateSection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 3.5rem;

  .lastUpdate {
    display: flex;
    align-items: center;
    gap: 1rem;

    .lastUpdateText {
      font-size: var(--font-size-xxl);
      font-weight: var(--font-weight-light);
      color: var(--text-color-secondary);
    }
  }
}
