.blinkingContainer {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .blinkingDot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--blink-dot-color);
    position: relative;

    .innerCircle {
      position: relative;
      z-index: var(--z-index-low);
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: var(--blink-inner-color);
      animation: pulse 2s infinite ease-in-out;
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.5);
      opacity: 0.6;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}
