.timelineSection {
  width: 100%;
  padding: 0 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    width: 100%;
    max-width: var(--screen-lg);
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .dateInputs {
      display: flex;
      gap: 2rem;
    }

    .description {
      color: var(--text-color-secondary);
    }
  }

  .currencySelect {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
