.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-index-medium);

  overflow-y: hidden;

  .content {
    background-color: var(--secondary-color);
    color: var(--text-color-secondary);
    border: 1px solid var(--divider-color);
    border-radius: 0.5rem;
    padding: 2rem;
    border-radius: 1rem;

    max-width: var(--width-xlarge);
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    animation: fadeIn 0.3s ease;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
