.currencyCard {
  width: 100%;
  max-width: 32.5rem;
  padding: 2rem;
  background-color: var(--secondary-color);
  border: 1px solid var(--divider-color);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1.9rem;

  cursor: pointer;

  .currencyCardIcon {
    width: 5rem;
    min-width: 5rem;

    svg {
      width: 100%;
      height: auto;
    }
  }

  .currencyCardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .currencyName {
      font-size: 2rem;
      color: var(--text-color-secondary);
    }

    .currencyValue {
      font-size: 2rem;
      font-weight: var(--font-weight-light);
      color: var(--text-color-light-gray);
    }
  }
}
