.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 2.5rem;

  .contentWrapper {
    width: 100%;
    max-width: var(--screen-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    .topBlock {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 2rem;

      @media screen and (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
      }

      .descriptionWrapper {
        max-width: var(--width-xlarge);
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .description {
          font-size: var(--font-size-lg);
          font-weight: var(--font-weight-light);

          @media screen and (max-width: 1024px) {
            display: none;
          }
        }
      }

      .linkRows {
        width: 100%;
        max-width: var(--width-xlarge);
        display: flex;
        justify-content: space-between;
        gap: 2rem;
      }
    }

    .copyright {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .copyrightText {
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-normal);
        color: var(--text-color-gray);
        text-align: center;
      }
    }
  }
}
